This Note Book is For learning the Advance Python Library

In [30]:
# collection : counter , namedtuple , orderdict , defaultdict  ,dequqe
from collections import Counter

In [31]:
a = "aaaaaabbbbbcccc" # We can use any other iterable Here
my_counter = Counter(a)

In [32]:
print(my_counter.most_common()[0][0]) # most common

a

In [33]:
print(list(my_counter.elements()))

['a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c']

In [34]:
from collections import namedtuple

In [35]:
Point = namedtuple('Point','x,y')

In [36]:
pt = Point(1,-4)
print(pt.x)
print(pt.y)

1
-4

In [38]:
from collections import defaultdict

In [39]:
ddict = defaultdict(int)
ddict['a'] = 1
ddict['b'] = 2
ddict['c'] = 3
ddict['d'] = 4

In [43]:
print(ddict['e']) # this will return the default value 0 for int

0

In [55]:
# itertools: product , permutations , combinations , accumulate , groupby , and infinte iterators

from itertools import *
# product
a = [1,2,3]
b = [5,6]
print(list(product(a,b)))
c = ['H','T','Hh','Tt']
print(list(permutations(c,2)))

[(1, 5), (1, 6), (2, 5), (2, 6), (3, 5), (3, 6)]
[('H', 'T'), ('H', 'Hh'), ('H', 'Tt'), ('T', 'H'), ('T', 'Hh'), ('T', 'Tt'), ('Hh', 'H'), ('Hh', 'T'), ('Hh', 'Tt'), ('Tt', 'H'), ('Tt', 'T'), ('Tt', 'Hh')]

In [57]:
a = [1,2,3,4,5]
print(list(combinations(a,2)))

[(1, 2), (1, 3), (1, 4), (1, 5), (2, 3), (2, 4), (2, 5), (3, 4), (3, 5), (4, 5)]

In [58]:
a = [1,2,3,4,5]
print(list(accumulate(a))) # Take sum

[1, 3, 6, 10, 15]

In [59]:
import operator
print(list(accumulate(a,func=operator.mul))) #max #

[1, 2, 6, 24, 120]

In [62]:
# groupby
a = [1,2,3,4,5]
gr=groupby(a,key=lambda x:x <3)
for key ,value in gr:
    print(key , list(value))

True [1, 2]
False [3, 4, 5]

In [65]:
# lambda function in python
# lambda argument : expression

add10 = lambda x:x+10
mlt = lambda x,y:x*y

In [66]:
print(mlt(2,7))

14

In [69]:
# Using Sorted
points2D = [(1,3),(5,-7),(5,6),(2,1),(40,-9)]
points2D_sorted = sorted(points2D,key=lambda x:x[1],reverse=True)
print(points2D_sorted)

[(5, 6), (1, 3), (2, 1), (5, -7), (40, -9)]

In [71]:
# map
b = map(lambda x:2*x,a)
print(list(b))


# Or u can use list comprehension
c = [x*2 for x in a]
print(c)

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10]

In [73]:
# filter(func , seq)
b = filter(lambda x:x%2 ==0,a)
print(list(b))

[2, 4]

In [74]:
# JSON
person = {"name":"Rajan","age":21,"city":"New York","hasChildren":False,"title":["engineer","programmer"]}

In [84]:
import json
person_json = json.dumps(person, indent =4,sort_keys=True)#separators=(': ','= ') 
print(person_json)
#seiralzation
with open('person.json','w') as file:
    json.dump(person,file,indent = 4)

{
    "age": 21,
    "city": "New York",
    "hasChildren": false,
    "name": "Rajan",
    "title": [
        "engineer",
        "programmer"
    ]
}

In [89]:
# Desirialization
nperson = json.loads(person_json)

In [90]:
print(nperson)

{'age': 21, 'city': 'New York', 'hasChildren': False, 'name': 'Rajan', 'title': ['engineer', 'programmer']}

In [93]:
with open('person.json','r') as file:
    person = json.load(file)
    print(person)

{'name': 'Rajan', 'age': 21, 'city': 'New York', 'hasChildren': False, 'title': ['engineer', 'programmer']}

In [98]:
class User:
    def __init__(self,name,age):
        self.name = name
        self.age = age
user1 = User('Max' , 29)
user2 = User('Mid' , 19)
user3 = User('Min' , 9)

def encode_user(o):
    if isinstance(o,User):
        return{'name':o.name,'age':o.age,o.__class__.__name__:True}
    else:
        raise TypeError('Object of type User is not JSON serializable')
    

user1JSON = json.dumps(user1,default=encode_user)
print(user1JSON)

{"name": "Max", "age": 29, "User": true}

In [ ]:
# Decorator

def dosomething():
    print("Rajan")